@use '/styles/base/variables' as *;
@use '/styles/base/mixins' as *;

.btn {
  background-color: transparent;
  border: 2px solid black;
  padding: .5rem 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  cursor: pointer;

  color: $primary100;

  &:hover {
    background-color: black;
  }
}

.btn-secondary {
  color: $neutral300;
  border: 2px solid $neutral300;
  margin: 0 auto;

  @include mq('phablet') {
    margin: 0;
  }
}